.container {
  padding: 20px;
}

.infoContainer {
  margin-bottom: 20px;
}

.fileContainer {
  margin-top: 20px;
}

.file {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}
