// Base
@import "./base/global";
@import "./base/reset";
@import "./base/typography";
@import "./base/colors.scss";

#root {
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@import "./base/index.scss";
