@import "/src/styles/base/colors.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $primary-color;
  color: $text-primary-color;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLink,
.navButton {
  color: $text-primary-color;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navLink:hover,
.navButton:hover {
  background-color: $secondary-color;
  color: $background-color;
  border-radius: 4px;
}

.active {
  background-color: $secondary-color;
  color: $background-color;
  border-radius: 4px;
}
